<%= form_for(@historial_de_compra) do |f| %>
  <% if @historial_de_compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historial_de_compra.errors.count, "error") %> prohibited this historial_de_compra from being saved:</h2>

      <ul>
      <% @historial_de_compra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_generico %><br>
    <%= f.text_field :nombre_generico %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.text_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :unidad %><br>
    <%= f.text_field :unidad %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :multiplicador %><br>
    <%= f.text_field :multiplicador %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :origen %><br>
    <%= f.text_field :origen %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
