<%= form_for(@user) do |f| %>

	<div class="field">
    	<%= f.label :username %><br>
    	<%= f.text_field :username, :disabled => true %>
  	</div>

	<div class="field">
    	<%= f.label :password %><br>
    	<%= f.password_field :password %>
	</div>

	<div>
    	<%= f.label :password_confirmation %><br>
    	<%= f.password_field :password_confirmation %>
 	</div>

 	<div class="actions">
    <%= f.submit %>
  	</div>

 <% end %>  