<h1>Registro de Usuarios</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="field">
    <%#= f.label :username %><br>
    <%= f.hidden_field :username%>
  </div>


  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <!-- <div class="field">
    <%#= f.label :login_date %><br>
    <%#= f.datetime_local_field :login_date %>
  </div> 
  <div class="field">
    <%#= f.label :password_date %><br>
    <%#= f.datetime_local_field :password_date %>
  </div>
  

  <div class="field">
    <%#= f.label :password_date %><br>
    <%#= f.datetime_local_field :password_date %>
  </div> -->
  <div class="field">
    <%= f.label :rol_id %><br>
    <%#= f.number_field :rol_id %>
    <%= select("user", "rol_id", Rol.all.collect {|p| [ p.rol_name, p.id ] }, {include_blank: 'Seleccione uno'}) %>
    <br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', users_path %>
