<div class="formulario_admin sombreado">
  <%= form_for(@ingredient) do |f| %>
    <% if @ingredient.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

        <ul>
        <% @ingredient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="cintilla_formularios">
        <h2>Ingredientes</h2>
      </div>

      <p><%= f.label :nombre %>
      <%= f.text_field :nombre %></p>
      <p><%= f.label :unidad %>
      <%= f.text_field :unidad %></p>
      <p><%= f.label :yield %>
      <%= f.text_field :yield %></p>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>