<div class="formulario_admin sombreado">
  <%= form_for(@comanda) do |f| %>
    <% if @comanda.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comanda.errors.count, "error") %> prohibited this comanda from being saved:</h2>

        <ul>
        <% @comanda.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="cintilla_formularios">
        <h2>Crear Comanda</h2>
      </div>

    <p><%= f.label :articulo_id %>
    <%= f.number_field :articulo_id %></p>
    <p><%= f.label :order_id %>
    <%= f.number_field :order_id %></p>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>