<p id="notice"><%= notice %></p>

<p>
  <strong>Rol name:</strong>
  <%= @rol.rol_name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @rol.admin %>
</p>

<p>
  <strong>Module 1:</strong>
  <%= @rol.module_1 %>
</p>

<p>
  <strong>Module 2:</strong>
  <%= @rol.module_2 %>
</p>

<p>
  <strong>Module 3:</strong>
  <%= @rol.module_3 %>
</p>

<p>
  <strong>Module 4:</strong>
  <%= @rol.module_4 %>
</p>

<p>
  <strong>Module 5:</strong>
  <%= @rol.module_5 %>
</p>

<%= link_to 'Edit', edit_rol_path(@rol) %> |
<%= link_to 'Back', rols_path %>
