<%= form_tag("/pago_nuevo") do %>
	
	<!-- type = "visa" #<-tarjeta
    number =  "4417119669820331"#(deben ser 16 sin espacio) <-tarjeta
    expire_month = "11" #(int)(usar select)(pasar a string) <-tarjeta
    expire_year = "2018" #(int)(usar select)(pasar a string) <-tarjeta
    cvv2 = "874" #(int)(3) <- tarjeta
    first_name = "Joe"#(string) <- tajeta
    last_name = "Shopper"#(string) <- tajeta -->

    <%= select_tag "type", "<option>visa</option><option>mastercard</option><option>visa</option>".html_safe %>
    <%= text_field_tag "number" %>
    <%= number_field_tag "expire_month" %>
    <%= number_field_tag "expire_year" %>
    <%= text_field_tag "cvv2" %>
    <%= text_field_tag "first_name" %>
    <%= text_field_tag "last_name" %>
<% end %>