<div class="formulario_admin sombreado">
  <%= form_for(@procedure) do |f| %>
  <% if @procedure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@procedure.errors.count, "error") %> prohibited this procedure from being saved:</h2>

      <ul>
      <% @procedure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="cintilla_formularios">
    <h2>Procedimiento</h2>
  </div>

    <p><%= f.label :nombre %>
    <%= f.text_field :nombre %></p>

    <p><%= f.label :instrucciones %>
    <%= f.text_field :instrucciones %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>