<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :unidad %><br>
    <%= f.text_field :unidad %>
  </div>
  <div class="field">
    <%= f.label :consumible %><br>
    <%= f.number_field :consumible %>
  </div>
  <div class="field">
    <%= f.label :disponibles %><br>
    <%= f.number_field :disponibles %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
