<!DOCTYPE html>
<html>

	<head>
	  <title>ScarletWitch</title>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <!-- Libreria de calendario -->
	  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	  <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>	  
	  <!-- Fin libreria de calendario -->
	  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
	</head>

	<body>
		<%= render partial: "layouts/header" %>
		<div class="contenedor_principal">
			<%= yield %>
		</div>
		<%= render partial: "layouts/footer" %> 
	</body>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>	
	
</html>
