<div class="formulario_admin sombreado">
  <%= form_for(@articulo) do |f| %>
    <% if @articulo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@articulo.errors.count, "error") %> prohibited this articulo from being saved:</h2>

        <ul>
        <% @articulo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="cintilla_formularios">
        <h2>Crear Articulo</h2>
      </div>

      <p><%= f.label :title %>
      <%= f.text_field :title %></p>
      <p><%= f.label :tipo %>
      <%= f.number_field :tipo %></p>
      <p><%= f.label :tiempo_preparacion %>
      <%= f.text_field :tiempo_preparacion %></p>
      <p><%= f.label :descripcion %>
      <%= f.text_field :descripcion %></p>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>